<div class="form">
  <%= form_for @post do |f| %>
    <div>
      <span class="name"><%= f.label 'Title' %></span>
      <span class="form-name"><%= f.text_field :title %></span>
    </div>

    <div>
      <span class="name"><%= f.label 'Text' %></span>
      <span class="form-text"><%= f.text_area :body %></span>
    </div>

    <div>
      <span class="bottom-new"><%= f.submit 'Save post' %></span>
    </div>
  <% end %>
</div>
